name: Container Image Build and Push to ACR - sub3-2-was

on:
  push:
    branches:
      - master
    paths:
      - 'board-api/**'
      - '.github/workflows/sub3-2-was.yml'

permissions:
  id-token: write
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker Login to ACR
        uses: azure/docker-login@v2
        with:
          login-server: ${{ secrets.ACR_NAME }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}
      
      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: ./board-api
          push: true
          tags: ${{ secrets.ACR_NAME }}/was:${{ github.sha }}