name: OIDC Azure Login

on:
  push:
    branches: [ "master" ]
    paths:
      - 'board-api/**'
      - '.github/workflows/sub3-2-was-oidc.yml'

# OIDC 인증을 위해 id-token 권한이 반드시 필요합니다.
permissions:
  id-token: write
  contents: read

jobs:
  login-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Azure 로그인 (OIDC 방식)
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}

      # 로그인 확인 테스트
      - name: Azure CLI Test
        run: |
          az account show
          az acr list --output table
