name: WAS Image Build and Push to ACR(Subject 4)

on:
  push:
    branches:
      - master
    paths:
      - 'board-api/**'
      - '.github/workflows/sub4-was.yml'

# OIDC 인증을 위해 id-token 권한이 반드시 필요
permissions:
  id-token: write
  contents: write

jobs:
  login-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Azure 로그인 (OIDC 방식 - EntraID 앱 등록 후 OIDC 페더레이션 자격증명 설정 필요)
      - name: Azure Login
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }} # 등록된 앱의 클라이언트ID
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }} # 앱에 구독에 대한 reader 역할 추가 필요

      # ACR 로그인
      - name: Login to ACR
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.ACR_NAME_SUB4 }}
          username: ${{ secrets.AZURE_CLIENT_ID }}
          password: ${{ secrets.AZURE_CLIENT_SECRET_FOR_ACR_LOGIN_SUB4 }} # 앱에 ACR 로그인에 사용할 토큰 필요(클라이언트 시크릿)
      
      # 이미지 빌드 환경 준비
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      # 이미지 빌드 후 ACR 푸쉬(앱에 ACR에 대한 AcrPush 역할 필요)
      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: ./board-api
          file: ./board-api/DockerfileARM
          push: true
          platforms: linux/arm64
          tags: ${{ secrets.ACR_NAME_SUB4 }}/was:${{ github.sha }}, ${{ secrets.ACR_NAME_SUB4 }}/was:latest
      
      # k8s WAS 매니페스트 이미지 태그 수정
      - name: Update K8s WAS image tag
        run: |
          # 현재 커밋 sha로 수정
          yq -i 'select(.kind == "Deployment" and .metadata.name == "spring-app").spec.template.spec.containers[0].image = "${{ secrets.ACR_NAME_SUB4 }}/was:${{ github.sha }}"' manifests/was.yml
      
      # 커밋 후 푸쉬
      - name: Commit and Push Changes
        run: |
          git config user.email "ktaeyun556@gmail.com"
          git config user.name "ktaeyun556"
          git add manifests/was.yml
          git commit -m "update was image tag"
          git push origin master